{{#if this.liveStream.isShown}}
<div class="liveStream{{if this.isLarge "large"}}">
    <div class="title">
        <h3> Live look at the telescope</h3>
    </div>
    <div class="feed">
            <img class="video"
                src="http://{{this.username}}:{{this.password}}@{{this.IPaddress}}/{{this.static}}"
                alt="Livestream did not load">
            <input type="button" class="fullscreen{{if this.isLarge "out" "in"}}" {{on "click" this.toggleLarge}}/>
    </div>
</div>
{{/if}}