<div class="rootContainer">
    <table class="users">
        <thead>
            <tr align="center">
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">Role</th>
                <th scope="col">Login Attempts</th>
                <th scope="col" >Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each this.model as |usr|}}
                <tr id={{usr.id}} >
                    <td>{{usr.username}}</td>
                    {{#if usr.password}}
                        <td>{{usr.password}}</td>    
                    {{else}}
                        <td>Unavailable</td>
                    {{/if}}
                    <td>{{usr.role}}</td>
                    <td>{{usr.attempts}}</td>
                    <td class="usrDelete" {{on "click" this.delete}}> Delete
                    </td>
                </tr>
            {{/each}}

        </tbody>
    
</table>
<Input id="adminBut1" class="button" @type="button" @value="Create User" {{on "click" this.createUser}}/>
<Input id="adminBut2" class="button"@type="button" @value="Create Admin" {{on "click" this.createAdmin}}/>
</div>
